<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nome_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edu"
        android:usesCleartextTraffic="true" >
        <activity
            android:name="edu.ifba.educa_ra.AberturaActivity"
            android:exported="true"
            android:theme="@style/Theme.Edu.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.ifba.educa_ra.InicializacaoActivity"
            android:exported="true"
            android:theme="@style/Theme.Edu.NoActionBar" >
        </activity>
        <activity
            android:name="edu.ifba.educa_ra.visualizador3D.Visualizador3DActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Edu.Fullscreen" />
        <activity
            android:name="edu.ifba.educa_ra.arcore.VisualizadorARCoreActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Edu.Fullscreen" />
        <activity
            android:name="edu.ifba.educa_ra.ErroActivity"
            android:exported="true"
            android:theme="@style/Theme.Edu.NoActionBar" >
        </activity>
        <activity
            android:name="edu.ifba.educa_ra.telas.SelecaoActivity"
            android:exported="true"
            android:theme="@style/Theme.Edu.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

    </application>

</manifest>